/* Estilo para el contenedor de la lista */
.task-list-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
    margin: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  
  .task-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .task-item:last-child {
    border-bottom: none;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }

  /* Contenedor de los botones de filtro */
.filter-buttons {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
    margin-bottom: 20px; /* Añadir un poco de margen inferior */
  }
  
  .filter-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-buttons button:hover {
    background-color: #0056b3;
  }
  
  .filter-buttons button.active {
    background-color: #0056b3; /* Color más oscuro para el botón activo */
  }
  
  

  